In [1]:
!pip install -q findspark
import findspark
findspark.init()

In [2]:
import pandas as pd
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pyspark.sql

In [3]:
spark = SparkSession.builder.getOrCreate()
sc = SparkContext.getOrCreate()

In [115]:
path = "/Users/leotien/Desktop/datares/homeDescpirtion/zillow.csv"
spark_zillow = spark.read.csv(path, header = True)

Tokenization is the process of braking down sentences into individual words. The default pattern uses " "

In [10]:
## tokenizer
from pyspark.ml.feature import Tokenizer, RegexTokenizer
from pyspark.sql.functions import col, udf, regexp_replace
from pyspark.sql.types import IntegerType

In [11]:
#spark_zillow = spark_zillow.withColumnRenamed("_c0", "Id")

In [116]:
spark_zillow.printSchema()

root
 |-- Street Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Ziilow Id: string (nullable = true)
 |-- Property Url: string (nullable = true)
 |-- Bedrooms: string (nullable = true)
 |-- Bathrooms: string (nullable = true)
 |-- Property Status: string (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Living Area: string (nullable = true)
 |-- Zestimate: string (nullable = true)
 |-- Living Area Unit: string (nullable = true)
 |-- Has Cooling: string (nullable = true)
 |-- Cooling: string (nullable = true)
 |-- Has Fireplace: string (nullable = true)
 |-- Fireplaces: string (nullable = true)
 |-- Has Heating: string (nullable = true)
 |-- Heating: string (nullable = true)
 |-- Has Parking: string (nullable = true)
 |-- Parking Capacity: string (nullable = true)
 |-- Parking: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Year Built: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Time On Zillow: string (nullable = true)
 |-- Days On Zillow: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- View Count: string (nullable = true)
 |-- Favourite Count: string (nullable = true)
 |-- Listing Type: string (nullable = true)
 |-- Agent Name: string (nullable = true)
 |-- Agent Phone Number: string (nullable = true)
 |-- Agent Email: string (nullable = true)
 |-- Agent License Number: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- MLS ID: string (nullable = true)
 |-- MLS Name: string (nullable = true)
 |-- HOA Fee: string (nullable = true)
 |-- Pictures: string (nullable = true)

In [120]:
panda = pd.read_csv("zillow.csv")

In [23]:
city = spark_zillow.select("city", "State", "Zipcode", "Zestimate")

In [24]:
city = city.withColumn("Zestimate", city.Zestimate.cast("Integer"))

In [25]:
city.printSchema()

root
 |-- city: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Zestimate: integer (nullable = true)

In [26]:
from pyspark.sql.functions import col, desc, round, mean
city.groupBy().agg(round(mean("Zestimate"), 2).alias("Avg. Estimate")).show()
city.sort(desc("Zestimate")).show()

+-------------+
|Avg. Estimate|
+-------------+
|   1423637.05|
+-------------+

+-----------------+-----+-------+---------+
|             city|State|Zipcode|Zestimate|
+-----------------+-----+-------+---------+
|Pacific Palisades|   CA|  90272| 90973600|
|      Los Angeles|   CA|  90077| 74283200|
|      Los Angeles|   CA|  90077| 68731600|
|      Los Angeles|   CA|  90049| 67093300|
|    Beverly Hills|   CA|  90210| 57991400|
|      Los Angeles|   CA|  90049| 57856900|
|     Santa Monica|   CA|  90402| 54954800|
|      Los Angeles|   CA|  90049| 48765700|
|      Los Angeles|   CA|  90024| 48358400|
|    Beverly Hills|   CA|  90210| 42357400|
|      Los Angeles|   CA|  90077| 40815300|
|      Los Angeles|   CA|  90049| 36436300|
|      Los Angeles|   CA|  90077| 34882700|
|      Los Angeles|   CA|  90024| 34228500|
|    Beverly Hills|   CA|  90210| 31501300|
|      Los Angeles|   CA|  90077| 31029300|
|      Los Angeles|   CA|  90049| 30791700|
|    Beverly Hills|   CA|  90210| 30043400|
|      Los Angeles|   CA|  90049| 29674000|
|    Beverly Hills|   CA|  90210| 29406700|
+-----------------+-----+-------+---------+
only showing top 20 rows

In [27]:
city.groupBy(city.city.alias("City")).agg(round(mean("Zestimate"), 2).alias("Avg Estimate")).sort(desc(mean("Zestimate"))).show()

+-----------------+------------+
|             City|Avg Estimate|
+-----------------+------------+
|    Beverly Hills|   6607482.1|
|     Santa Monica|  5819525.64|
|Pacific Palisades|  5150585.28|
|           Venice|  2354348.96|
| West Los Angeles|   2272050.0|
|      Studio City|  1828636.84|
|       CHATSWORTH|   1825000.0|
|         Pasadena|   1805200.0|
|           Encino|   1780100.7|
|   Marina Del Rey|  1745385.77|
|   West Hollywood|  1672417.65|
|      Culver City|   1656550.0|
|      Westchester|   1611640.0|
|      Los Angeles|  1606298.84|
|     Sherman Oaks|  1586015.06|
|   La Tuna Canyon|   1524100.0|
|     Shadow Hills|   1521800.0|
|       Box Canyon|   1490900.0|
|       Long Beach|   1459200.0|
|        Hollywood|   1442300.0|
+-----------------+------------+
only showing top 20 rows

In [30]:
# city.groupBy("city", "Zipcode").count().sort(col("count").desc()).show()

In [29]:
#city.filter("city = 'Lancaster' AND Zipcode = 93536").groupBy().mean("Price").show()
#city.filter("city = 'Lancaster' AND Zipcode = 93535").groupBy().mean("Price").show()

NLP

In [64]:
spark_zillow = spark_zillow.withColumnRenamed("Favourite Count","favorite")
des = spark_zillow.select("Description", "favorite")

In [111]:
panda = pd.read_csv("zillow.csv")
panda.insert(2, "Id", range(0,34397), True)
#panda = panda.rename(columns={"Unnamed: 0": "Id"})
panda = panda[["Id","Favourite Count"]]
panda = panda.drop(5901)
#panda["Favourite Count"] = pd.to_numeric(panda["Favourite Count"])
#fav = spark.createDataFrame(pd.DataFrame(panda))

In [113]:
panda["Favourite Count"] = pd.to_numeric(panda["Favourite Count"])

In [136]:
spark_zillow.printSchema()

root
 |-- Street Address: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Ziilow Id: string (nullable = true)
 |-- Property Url: string (nullable = true)
 |-- Bedrooms: string (nullable = true)
 |-- Bathrooms: string (nullable = true)
 |-- Property Status: string (nullable = true)
 |-- Property Type: string (nullable = true)
 |-- Living Area: string (nullable = true)
 |-- Zestimate: string (nullable = true)
 |-- Living Area Unit: string (nullable = true)
 |-- Has Cooling: string (nullable = true)
 |-- Cooling: string (nullable = true)
 |-- Has Fireplace: string (nullable = true)
 |-- Fireplaces: string (nullable = true)
 |-- Has Heating: string (nullable = true)
 |-- Heating: string (nullable = true)
 |-- Has Parking: string (nullable = true)
 |-- Parking Capacity: string (nullable = true)
 |-- Parking: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Currency: string (nullable = true)
 |-- Year Built: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Time On Zillow: string (nullable = true)
 |-- Days On Zillow: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- View Count: string (nullable = true)
 |-- Favourite Count: string (nullable = true)
 |-- Listing Type: string (nullable = true)
 |-- Agent Name: string (nullable = true)
 |-- Agent Phone Number: string (nullable = true)
 |-- Agent Email: string (nullable = true)
 |-- Agent License Number: string (nullable = true)
 |-- Agency: string (nullable = true)
 |-- MLS ID: string (nullable = true)
 |-- MLS Name: string (nullable = true)
 |-- HOA Fee: string (nullable = true)
 |-- Pictures: string (nullable = true)

In [168]:
description = spark_zillow.select("Description", "Favourite Count")
#description = description.join(fav, on = "Id")
#description = description.filter(description.Description != " ")
#description = description.select("Id", "Description", "compFavorite")
description.show(1)

+--------------------+---------------+
|         Description|Favourite Count|
+--------------------+---------------+
|Huge Development ...|              0|
+--------------------+---------------+
only showing top 1 row

In [169]:
description = description.withColumnRenamed("Favourite Count", "favorite")

In [170]:
# removes the "" from the Description
description = description.withColumn("Description", regexp_replace("Description", '"', ''))

In [171]:
description = description.na.drop()
description = description.where(description.favorite != 0)

In [172]:
tokenizer = Tokenizer(inputCol = "Description", outputCol = "words")

regexTokenizer = RegexTokenizer(inputCol = "Description", 
                                outputCol = "words", pattern = "\\W")

countTokens = udf(lambda x: len(x))

Tokenizer and RegexTokenizer in this cases does the same things

In [174]:
description.show(5)

+--------------------+--------+
|         Description|favorite|
+--------------------+--------+
|Wonderful investm...|      39|
|3 Bedroom 2 bath ...|       2|
|Looking for a mov...|       3|
|Pristine and rare...|       3|
|           IN ESCROW|       1|
+--------------------+--------+
only showing top 5 rows

In [175]:
tokenized = tokenizer.transform(description)
tokenized.show(5)

+--------------------+--------+--------------------+
|         Description|favorite|               words|
+--------------------+--------+--------------------+
|Wonderful investm...|      39|[wonderful, inves...|
|3 Bedroom 2 bath ...|       2|[3, bedroom, 2, b...|
|Looking for a mov...|       3|[looking, for, a,...|
|Pristine and rare...|       3|[pristine, and, r...|
|           IN ESCROW|       1|        [in, escrow]|
+--------------------+--------+--------------------+
only showing top 5 rows

In [176]:
regexTokenized = regexTokenizer.transform(description)
regexTokenized.show(5)

+--------------------+--------+--------------------+
|         Description|favorite|               words|
+--------------------+--------+--------------------+
|Wonderful investm...|      39|[wonderful, inves...|
|3 Bedroom 2 bath ...|       2|[3, bedroom, 2, b...|
|Looking for a mov...|       3|[looking, for, a,...|
|Pristine and rare...|       3|[pristine, and, r...|
|           IN ESCROW|       1|        [in, escrow]|
+--------------------+--------+--------------------+
only showing top 5 rows

In [177]:
## Stop Word Removal

In [178]:
from pyspark.ml.feature import StopWordsRemover

In [179]:
remover = StopWordsRemover(inputCol = "words", outputCol = "cleaned")

In [180]:
clean = remover.transform(regexTokenized)
clean.show(5)

+--------------------+--------+--------------------+--------------------+
|         Description|favorite|               words|             cleaned|
+--------------------+--------+--------------------+--------------------+
|Wonderful investm...|      39|[wonderful, inves...|[wonderful, inves...|
|3 Bedroom 2 bath ...|       2|[3, bedroom, 2, b...|[3, bedroom, 2, b...|
|Looking for a mov...|       3|[looking, for, a,...|[looking, move, r...|
|Pristine and rare...|       3|[pristine, and, r...|[pristine, rarely...|
|           IN ESCROW|       1|        [in, escrow]|            [escrow]|
+--------------------+--------+--------------------+--------------------+
only showing top 5 rows

In [181]:
clean = clean.withColumn("token", countTokens(col("cleaned")))
clean.show(5)

+--------------------+--------+--------------------+--------------------+-----+
|         Description|favorite|               words|             cleaned|token|
+--------------------+--------+--------------------+--------------------+-----+
|Wonderful investm...|      39|[wonderful, inves...|[wonderful, inves...|   14|
|3 Bedroom 2 bath ...|       2|[3, bedroom, 2, b...|[3, bedroom, 2, b...|   34|
|Looking for a mov...|       3|[looking, for, a,...|[looking, move, r...|  103|
|Pristine and rare...|       3|[pristine, and, r...|[pristine, rarely...|   92|
|           IN ESCROW|       1|        [in, escrow]|            [escrow]|    1|
+--------------------+--------+--------------------+--------------------+-----+
only showing top 5 rows

In [182]:
## N-grams

In [183]:
from pyspark.ml.feature import NGram

In [184]:
bigrams = NGram(n = 2, inputCol = "cleaned", outputCol = "bigrams")

In [185]:
bigram_df = bigrams.transform(clean)
bigram_df.select("bigrams").show(1, truncate = False)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|bigrams                                                                                                                                                                                                 |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[wonderful investment, investment opportunity, opportunity first, first time, time buyers, buyers investors, investors spacious, spacious house, house nice, nice yard, yard pool, pool want, want miss]|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

In [186]:
## feature extraction: term frequencey-inverse doc frequency
## shows the importance of a term to a document in a corpus

In [187]:
from pyspark.ml.feature import HashingTF, IDF

In [188]:
# hash collisions for a small number of features, say 20
# we need to make sure the numFeatures is big enough
hashing = HashingTF(inputCol = "cleaned", outputCol = "rawFeatures", numFeatures = 300)
featurized = hashing.transform(clean)

In [189]:
featurized.select("rawFeatures").show(1, truncate = False)

+----------------------------------------------------------------------------------------------------------------+
|rawFeatures                                                                                                     |
+----------------------------------------------------------------------------------------------------------------+
|(300,[36,103,112,129,160,162,170,176,181,224,229,257,271],[1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0])|
+----------------------------------------------------------------------------------------------------------------+
only showing top 1 row

In [191]:
featurized.show(5)

+--------------------+--------+--------------------+--------------------+-----+--------------------+
|         Description|favorite|               words|             cleaned|token|         rawFeatures|
+--------------------+--------+--------------------+--------------------+-----+--------------------+
|Wonderful investm...|      39|[wonderful, inves...|[wonderful, inves...|   14|(300,[36,103,112,...|
|3 Bedroom 2 bath ...|       2|[3, bedroom, 2, b...|[3, bedroom, 2, b...|   34|(300,[4,19,27,28,...|
|Looking for a mov...|       3|[looking, for, a,...|[looking, move, r...|  103|(300,[0,4,14,15,1...|
|Pristine and rare...|       3|[pristine, and, r...|[pristine, rarely...|   92|(300,[0,18,19,27,...|
|           IN ESCROW|       1|        [in, escrow]|            [escrow]|    1|   (300,[289],[1.0])|
+--------------------+--------+--------------------+--------------------+-----+--------------------+
only showing top 5 rows

In [177]:
final = featurized.select("favorite", "rawFeatures")
final.printSchema()

root
 |-- favorite: long (nullable = true)
 |-- rawFeatures: vector (nullable = true)

In [178]:
final = final.withColumn("favorite", final.favorite.cast("Integer"))
final.printSchema()

root
 |-- favorite: integer (nullable = true)
 |-- rawFeatures: vector (nullable = true)

In [37]:
clean = clean.filter('Id != " "')
(trainingData, testData) = clean.randomSplit([0.7, 0.3], seed = 100)
print("Training Dataset Count: " + str(trainingData.count()))
print("Test Dataset Count: " + str(testData.count()))

Training Dataset Count: 632
Test Dataset Count: 265

In [ ]:
import pyspark.ml.evaluation as evals
evaluator = evals.MulticlassClassificationEvaluator()